.nav-link-custom {
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-link-custom:hover {
  color: #198754 !important;
}

.custom-login-btn:hover {
    background-color: #ffffff;
    color: #198754 !important; 
}

.navbar-brand-custom{
    color: #198754 !important;
}

